 .card{

    margin: 1%;
    background-color: #f0f0f0;
    border: 1px solid #e5e5e5;
    box-shadow: 4px 4px 23px -9px rgba(72, 72, 72, 0.4);
    max-width: 288px;
    padding: 15px 15px;
    max-width: 200px;
    min-width: 260px;

   a{
     width: fit-content;
     img{
       width :100%;
       max-width: 260px;
       height: 260px;
       margin-bottom: 10px;
     }

     transition: 0.2s;

     .header{
       width: 100%;
       margin-bottom: 16px;

       &-name{
         font-weight: bold;
         font-size: 1rem;
       }

       &-type{
         font-size: 0.8rem;
         color: #858585;
       }

       &-price{
         margin-top: 10px;
         font-weight: bold;
         letter-spacing: 0.6px;
         color: #5c5c5c;
         font-size: 0.95rem;
       }
     }

   }

   .button{

     a{
       text-decoration: none;
     }

     &-update{
       background-color: cornflowerblue;
       color: white;
       text-align: center;
       font-weight: bold;
       padding: 5px 10px;
       cursor: pointer;
       border-radius: 5px;
     }

     &-update:hover{
       background-color: #7daaed;
       color: white;
     }

     &-update:active{
       background-color: #4471ed;
       color: white;
     }

     &-delete{
       background-color: #ff5d58;
       color: white;
       text-align: center;
       font-weight: bold;
       padding: 5px 10px;
       margin-top: 5px;
       cursor: pointer;
       border-radius: 5px;
     }

     &-delete:hover{
       background-color: #ff7f80;
       color: white;
     }

     &-delete:active{
       background-color: #ff3a36;
       color: white;
     }
   }
  }
 .card:hover{
   transform: scale(1.02);
   background-color: white;
 }



@media screen and (max-width: 1052px){
  .card{
    a{
      img{
        width: 253px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .button{
    margin-top: 5px;
  }
}


