
.content{

  .container{
    margin: 4rem auto;
    width: 98%;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .box{
      background-color: rgb(247, 247, 247);
      box-sizing: border-box;
      border: 0.05px solid #ededed;
      box-shadow: 4px 4px 23px -9px rgba(72, 72, 72, 0.4);
      width: 32%;
      padding: 3.5em 1.5em;
      padding-bottom: 1.5em;
      transition: 0.3s;

      &-header{
        margin-bottom: 4.5em;
        p{
          text-align: center;
          font-size: 1.5rem;
          letter-spacing: 1px;
          font-weight: bold;
        }
      }

      &-body{

        a{
          text-decoration: none;
        }

        #address{
          height: fit-content;
          line-height: 25px;
          p{
            text-align: center;
            font-size: 1rem;
            color: #202020;
            font-weight: bold;
          }
        }

        #button-maps{
          width: 40%;
          margin: auto;
          margin-top: 30%;
          background-color: #0e1113;
          border: 0.6px solid #eaeaea;
          border-radius: 3px;
          padding: 0.5em 1.25em;
          p{
            color: #dfdfdf;
            text-align: center;
            font-weight: bold;
            letter-spacing: 1px;
            transition: linear .125s;
          }
          transition: linear .125s;
        }


        #button-maps:hover{
          background-color: #3d3d3d;
          transform: scale(1.02);
          p{
            color: white;
          }
        }

        .phone, .whatsapp{
          margin: 1em;
          p{
            text-align: center;
          }
        }

        .phone p:nth-child(1), .whatsapp p:nth-child(1){
          font-size: 1rem;
          font-weight: bold;
          color: #252525;
        }

        .phone p:nth-child(2), .whatsapp p:nth-child(2){
          margin-top: 0.4em;
          font-size: 1.15rem;
          font-weight: bold;
        }

        #button-contact{
          display: flex;
          margin: auto;
          align-items: center;
          width: 93%;
          justify-content: center;
          margin-top: 13%;

          a{
            width: 30%;
            text-decoration: none;
            color: #c5ff29;

            .button-wa{
              background-color: #4e832b;
              padding: 0.6em 0.6em;
              border-radius: 3px;
              p{
                text-align: center;
                font-size: 0.8rem;
                letter-spacing: 0.5px;
                //font-weight: bold;
              }
              transition: 0.2s;
            }

            .button-wa:hover{
              background-color: #79a01f;
              color: #d7ff00;
              transform: scale(1.05);
            }

          }

          .or{
            margin: 0 5%;
            p{
              font-size: 1rem;
              font-weight: bold;
            }
          }

        }
      }

      .contact{
      
        margin: 1.5em auto;
        width: 100%;

        .olx, .instagram, .email{
          display: flex;
          align-items: center;
          width: 100%;

          .div-logo{
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .desc-contact{
            margin-left: 2%;
            width: 90%;
          }
        }

        .olx{
          .logo{
            padding: 1.2em 0.7em;
            
          }
        }

        div{
          margin-bottom: 0.7em;

          p, a{
            font-weight: bold;
            color: #858585;
            font-size: 0.8rem;
            transition: 0.5s;
            letter-spacing: 0.5px;
          }

          p:hover, a:hover{
            color: black;
          }


          .logo{
            border: 1px solid #c3c3c3;
            border-radius: 100px;
            padding: 0.7em;
            transition: 0.3s;
            background-color: #efefef;
            img{
              width: 35px;
            }

            #email-img{
              width: 28px;
            }
          }

          .logo:hover{
            transform: scale(1.1);
            background-color: white;
          }

        }
      }
    }

    .box:hover{
      background-color: #ffffff;
    }

  }
}





@media screen and (max-width: 1050px) {

  .content{
    .container{
      margin: 3rem auto;
      justify-content: center;
      .box{
        width: 48% !important;
        margin-left: 5px;
        margin-right: 5px;
        &-header{
          margin-bottom: 2.5em;
        }

        .contact{
          .olx, .instagram, .email{
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .desc-contact{
              width: 100%;
              margin-left: 0;
              p{
                text-align: center;
              }
            }
          }
        }
      }

      .box:nth-child(3){
        margin-top: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .content{
    .container{
      margin: 2rem auto;
      .box{
        width: 98% !important;

        &-header{
          margin-bottom: 2em;
        }

        .contact{
          .olx, .instagram, .email{

            .logo{
              padding: 13px 0.7em;
              img{
                width: 32px;
              }
  
              #email-img{
                width: 25px;
              }
            }

           
          }
        }
      }
    }
  }
}



@media screen and (max-width: 600px) {

  .content{
    .container{
      margin: 2rem auto;
      .box{
        .contact{
          .olx, .instagram, .email{
            img{
              width: 28px;
            }
            #email-img{
              width: 21px;
            }
          }
        }
      }
    }
  }
}




