.container{

  .content{

    width: 98%;
    margin: 3em auto;
    max-width: 1000px;

    &-header{
      background-color: #202020;
      color: white;
      padding: 1em 2em;
      border-radius: 3px;
      p{
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1.5px;
      }
    }

    &-body{

      .no-card{
        padding: 3.8em 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid #eeeeee;
        box-shadow: 4px 4px 23px -9px rgba(117, 117, 117, 0.4);
        img{
          width: 60%;
          margin-bottom: 3em;
        }

        .desc{
          width: 33%;
          text-align: center;
        }

        .desc p:nth-child(1){
          font-size: 1.5rem;
          font-weight: bolder;
          color: #1e1e1e;
          margin-bottom: 20px;
          letter-spacing: 1px;
        }

        .desc p:nth-child(2){
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 0.5px;
          line-height: 25px;
          color: #a4a4a4;
        }
      }

      .card:hover{
        box-shadow: 4px 4px 23px -9px rgba(72, 72, 72, 0.4);
        transform: scale(1.005);
        background-color: white;
      }
      .card{
        padding: 1.2em 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        margin-bottom: 0.2em;
        transition: 0.2s;

        &-left{
          display: flex;
          align-items: center;
          width: 75%;

          img{
            margin-right: 2%;
            width: 200px;
            height: 180px;
          }

          &-desc{
            p{
              margin: 0.5em 0;
              font-weight: bold;
            }
          }

          &-desc p:nth-child(1){
            font-size: 1.2rem;
            letter-spacing: 0.5px;
          }
          &-desc p:nth-child(2){
            font-size: 0.95rem;
            color: #707070;
          }

        }

        &-right{
          width: 25%;
          display: flex;
          justify-content: flex-end;
          a{
            width: fit-content;
            height: fit-content;
            text-decoration: none;
            .button{
              width: 80%;
              min-width: 100px;
              margin: auto;
              padding: 0.5em 1em;
              background-color: #242424;
              color: whitesmoke;
              border-radius: 10px;
              transition: 0.2s;
              border: 2px solid black;
              p{
                text-align: center;
                font-size: 1rem;
                letter-spacing: 0.8px;
                font-weight: bold;
              }
            }

            .button:hover{
              background-color: #fbfbfb;
              color: #1c1c1c;
            }

            .button:active{
              background-color: #0d0d0d;
              color: whitesmoke;
            }
          }
        }
      }
    }
  }
}




@media screen and (max-width: 736px) {
  .container{
    .content{
      &-body{
        .card{
          &-left{
            img{
              width: 140px;
              height: 120px;
            }

            &-desc p:nth-child(1){
              font-size: 1rem;
              letter-spacing: 0.2px;
            }
            &-desc p:nth-child(2){
              font-size: 0.8rem;
              color: #707070;
            }
          }

          &-right{
            a{
              .button{
                min-width: 85px;
                padding: 0.5em 0.7em;
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 475px) {

  .container{
    .content{
      &-body{

        .no-card{
          .desc{
            width: 50%;
          }

          .desc p:nth-child(2){
            line-height: 18px;
          }
  
        }

        .card{
          flex-direction: column;
          &-left, &-right{
            width: 100%;
            justify-content: center;
            margin: 1em 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {

  .container{
    .content{
      &-body{
        .no-card{
          .desc{
            width: 65%;
          }
        }

        .card{
          &-left{
            flex-direction: column;
            img{
              width: 98%;
              max-width: 243px;
              height: 200px;
            }

            &-desc{
              margin-top: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}


