.footer {
  background-color: #252525;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  min-width: 900px;
}
.footer .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.footer .container .company, .footer .container .contact, .footer .container .sosmed {
  margin-top: 20px;
}
.footer .container .sosmed a:hover {
  color: white;
}
.footer .container .sosmed div {
  display: flex;
  align-items: center;
}
.footer .container .sosmed div a, .footer .container .sosmed div p {
  text-decoration: none;
  color: #919191;
}
.footer .container .body {
  margin: 10px 0;
}
.footer .container .body img {
  margin-right: 7px;
}
.footer .container div .header {
  margin: 15px 0;
}
.footer .container div .header p {
  font-size: 16px;
  color: #b8b8b8;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: left;
}
.footer .container div .body p {
  margin: 5px 0;
  font-size: 14px;
  color: #919191;
}
.footer .container div a {
  text-decoration: none;
  font-size: 14px;
}
.footer .container div a:hover p {
  color: white;
}
.footer .container .logo {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .container .logo img {
  margin: auto;
}
.footer .container .logo p {
  color: #c5c5c5;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
